# =========================
# ENVIRONMENT
# =========================
venv/
env/
ENV/
.venv/
*.env

# =========================
# PYTHON / DJANGO
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
db.sqlite3

# Django static/media (generated at runtime)
staticfiles/
media/

# =========================
# CELERY / RUNTIME FILES
# =========================
celerybeat-schedule
celerybeat.pid

# =========================
# DOCKER / BUILD
# =========================
*.dockerignore

# =========================
# IDE / EDITORS
# =========================
.vscode/
.idea/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db
*.stackdump